.element__delete {
    width: 18px;
    height: 19px;
    background: transparent url(../../../src/images/delete.svg) center no-repeat;
    position: absolute;
    top: 18px;
    right: 15px;
    border: none;
}

.element__delete:hover {
    opacity: 0.6;
}