@import url(./__add-button/profile__add-button.css);
@import url(./__edit-image/profile__edit-image.css);
@import url(./__edit/profile__edit.css);
@import url(./__info/profile__info.css);
@import url(./__pic/profile__pic.css);
@import url(./__subtitle/profile__subtitle.css);
@import url(./__title/profile__title.css);


.profile {
    max-width: 880px;
    margin: 0 auto 51px;
    display: flex;
    align-items: center;
}

@media screen and (max-width: 425px) {
    .profile {
        width: 282px;
        margin: 0 auto 36px;
        flex-direction: column;
        align-items: unset;
    }
}