.form__item {
    width: 358px;
    height: 14px;
    margin-bottom: 29.74px;
    padding-bottom: 13.26px;
    border: none;
    border-bottom: 1px solid #000000;
    color: #000000;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

@media screen and (max-width: 425px) {
    .form__item {
        width: 238px;
        margin-bottom: 30px;
        padding-bottom: 13px;
    }
}

.form__item:last-of-type {
    margin-bottom: 0;
}