.profile__edit {
    width: 24px;
    height: 24px;
    margin-top: 15px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    background: transparent url("../../../src/images/edit.svg") center no-repeat;
}

.profile__edit:hover {
    opacity: 0.6;
    cursor: pointer;
}

@media screen and (max-width: 525px) {
    .profile__edit {
        width: 18px;
        height: 18px;
        margin-top: 4px;
        margin-right: 28px;
    }
}