.popup__close{
    width: 40px;
    height: 40px;
    position: absolute;
    top: -40px;
    right: -40px;
    background: transparent url("../../../images/close.svg") center;
    border: none;
}

.popup__close:hover {
    opacity: 0.6;
    cursor: pointer;
}

@media screen and (max-width: 425px) {
    .popup__close {
        right: 0;
    }
}