.profile__title {
    max-width: 373px;
    margin: 0;
    margin-right: 18px;
    font-size: 42px;
    line-height: 48px;
    font-weight: 500;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width: 768px) {
    .profile__title {
        font-size: 38px;
        line-height: 43px;
    }
}

@media screen and (max-width: 425px) {
    .profile__title {
        margin: 0 auto 14px;
        font-size: 22px;
        line-height: 27px;
        text-align: center;
    }
}