.profile__add-button {
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 2px;
} 

.profile__add-button:hover {
    opacity: 0.6;
    cursor: pointer;
}

@media screen and (max-width: 425px) {
    .profile__add-button {
        width: 282px;
        margin-top: 36px;
    }
}