.element__heart {
    width: 21px;
    height: 18px;
    border: none;
    background: transparent url("../../../images/heart.svg") no-repeat;
}

.element__heart:hover {
    opacity: 0.5;
    cursor: pointer;
}