.popup__close{
    width: 40px;
    height: 40px;
    position: fixed;
    top: calc(((100% - 330px)/2) - 35px);
    right: calc(((100% - 430px)/2) - 35px);
    background: transparent;
}

.popup__close:hover {
    opacity: 0.6;
    cursor: pointer;
}

@media screen and (max-width: 425px) {
    .popup__close {
        top: calc(((100% - 322px)/2) - 53px);
        right: calc((100% - 282px)/2);
    }
}