.profile__pic {
    max-width: 120px;
    width: 100%;
    max-height: 120px;
    height: 100%;
    margin-right: 30px;
    border-radius: 50%;
    overflow: hidden;
    transition: opacity 0.5s linear 0s;
}

.profile__pic:hover + .profile__pic-edit { 
    opacity: 1;
}

.profile__pic:hover {
    opacity: 0.5;
}

@media screen and (max-width: 525px) {
    .profile__pic {
        margin:0 81px 30px;
    }
}

@media screen and (max-width: 768px) {
    .profile__pic {
        margin-right: 0;
    }
}