.profile__info {
    max-width: 415px;
    width: 100%;
    margin-right: auto;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
    .profile__info {
        margin-right: 15px;
    }
}