.form__handler {
    width: 358px;
    height: 50.15px;
    margin: 0 36px 36.51px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    background-color: #000000;
}

.form__handler:hover {
    opacity: 0.8;
}

@media screen and (max-width: 425px) {
    .form__handler {
        width: 238px;
        height: 46px;
        margin: 0 22px 25px;
    }
}